.section-2 {
    padding: 8rem;
    display: flex;
    flex-direction: row;
    position: relative;
    font-family: var(--font-poppins);
}
.section-2 .image-container {
    background-image: url('../../images/section-2/Shapes.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
    position: relative;
    width: 100%;
    height: auto;
    flex: 1;
}
.section-2 .image-container img:first-child {
    position: relative;
    width: auto;
    height: 70%;
    top: 14%;
    z-index: 2;
}
.section-2 .image-container img:last-child {
    position: relative;
    width: auto;
    height: 30%;
    left: 25%;
}
.value-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
.value-container-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
    gap: 2rem;
}
.value-card h2 {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 35px;
    font-family: var(--font-playfair);
}
.value-card p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: var(--color-gray);
}
.btn-getstarted {
    width: 35%;
    padding: 1rem 0;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    cursor: pointer;
    margin-top: 3rem;
    font-family: var(--font-poppins);
    background-color: var(--color-purple);
}
.btn-getstarted:hover {
    border: 1px solid var(--color-purple);
    background: var(--background-gradient);
}

@media screen and (max-width: 1100px) {
    .section-2 {
        flex-direction: column;
    }
    .section-2 .image-container img:first-child {
        top: 150px;
    }
    .section-2 .image-container img:last-child {
        left: 25%;
        height: 250px;
    }
}

@media screen and (max-width: 900px) {
    .section-2 {
        padding: 4rem;
    }
    .section-2 .image-container img:first-child {
        top: 60px;
    }
    .section-2 .image-container img:last-child {
        left: 10%;
        height: 150px;
    }
}

@media screen and (max-width: 500px) {
    .section-2 {
        padding: 4rem 2rem;
    }
    .section-2 .image-container img:first-child {
        top: 100px;
    }
    .btn-getstarted {
        width: 100%;
    }
}