@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&family=Poppins:wght@400;500;700&display=swap');

:root {
  --font-playfair: 'Playfair Display', serif;
  --font-poppins: 'Poppins', sans-serif;
  
  --background-gradient: linear-gradient(72.56deg, #5A189A 29.4%, #D9764B 158.19%);
  --background-gray: #fcfafc;
  --color-gray: #717171;
  --color-purple: #5A189A;
}