footer {
    padding: 4rem 8rem;
    color: white;
    background-color: rgb(90,24,154);
    background-image: url('../../images/footer/Shapes.svg'), url('../../images/footer/Shapes2.svg'), linear-gradient(72.56deg, #5A189A 29.4%, #D9764B 158.19%);
    background-position: left bottom, right bottom;
    background-repeat: no-repeat, no-repeat;
    font-family: var(--font-poppins);
}
footer .copyright{
    text-align: center;
    margin-top: 4rem;
    font-size: 0.8rem;
    opacity: 0.7;
}
.footer-container, .links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.links-container {
    flex: 2;
}
.logo-container {
    gap: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo-container h1 {
    font-weight: 700;
    font-size: 2.1rem;
    line-height: 45px;
    font-family: var(--font-playfair);
}
.logo-container p, .links-card a {
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
}
.logo-container p {
    width: 57%;
}
.iconSocial-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.links-card ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.links-card a {
    text-decoration: none;
    color: white;
}
.links-card h2 {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 35px;
    margin-bottom: 1rem;
    font-family: var(--font-playfair);
}

@media screen and (max-width: 1000px) {
    footer {
        padding: 4rem;
    }
    .logo-container p {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    footer {
        padding: 4rem 2rem;
        text-align: center;
    }
    .footer-container, .links-container {
        gap: 3rem;
        flex-direction: column;
    }
    .iconSocial-container {
        justify-content: center;
    }
}